* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f3f3f3;
  font-family: Arial, sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  padding: 40px;
}

.password-section {
  width: 420px;
  text-align: center;
}

.password-section h1 {
  color: #4caf50;
  font-size: 38px;
  letter-spacing: 8px;
  margin-bottom: 190px;
}

.generator {
  background: #f8f8f8;
  width: 360px;
  margin: 0 auto;
  padding: 28px;
  border-radius: 10px;
}

.password {
  display: flex;
  height: 44px;
  margin-bottom: 16px;
}

.password input {
  flex: 1;
  border: none;
  background: #ddd;
  padding: 0 14px;
  font-size: 18px;
  border-radius: 12px 0 0 12px;
  outline: none;
}

.password button,
.generate,
#addTaskBtn {
  border: none;
  background: #4caf50;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.password button {
  width: 95px;
  border-radius: 0 12px 12px 0;
  font-size: 15px;
}

.range {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-bottom: 16px;
}

.range input {
  flex: 1;
}

.range span {
  background: #ddd;
  padding: 14px 18px;
  border-radius: 12px;
  font-size: 22px;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

.options label {
  background: #ddd;
  padding: 15px 18px;
  border-radius: 12px;
  text-align: left;
  font-size: 20px;
}

.generate {
  width: 100%;
  margin-top: 16px;
  padding: 16px;
  border-radius: 12px;
  font-size: 18px;
}

.todo-section {
  width: 760px;
}

.todo-container {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

.todo-container h1 {
  margin: 0;
  padding: 50px 30px 35px;
  text-align: center;
  font-size: 56px;
  color: green;
  background: #f0f0f5;
}

.task-input {
  display: flex;
  gap: 20px;
  padding: 25px;
  border-bottom: 1px solid #ddd;
}

.task-input input {
  flex: 1;
  padding: 18px;
  font-size: 24px;
  border: 2px solid green;
  border-radius: 8px;
  outline: none;
}

#addTaskBtn {
  padding: 0 34px;
  border-radius: 8px;
  font-size: 28px;
}

.task {
  display: flex;
  align-items: center;
  gap: 22px;
  padding: 25px;
  border-bottom: 1px solid #ddd;
  font-size: 36px;
  color: green;
}

.circle {
  width: 44px;
  height: 44px;
  border: 3px solid green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.task.done .circle {
  background: green;
  color: white;
}

.task.done .task-text {
  text-decoration: line-through;
}

.task-text {
  flex: 1;
}

.delete-btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 9px;
  background: crimson;
  color: white;
  font-size: 38px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .password-section h1 {
    margin-bottom: 80px;
  }

  .todo-section {
    width: 95%;
  }
}